@media only screen and (min-width: 1440px) and (max-width: 3840px)  {
 /* Stili per 4K UHD (3840x2160) */
  .maplibregl-ctrl-top-right, .mapboxgl-ctrl-top-right {top:70px !important; }
  .floating-panel { width: 260px; left: -270px; top: 80px!important;  height: calc(98vh - 60px)!important;}
.legend {height: calc(43vh - 20px)!important;}
}


@media only screen and (min-width: 1440px) and (max-width: 1920px) {
  .maplibregl-ctrl-top-right, .mapboxgl-ctrl-top-right {top:75px !important; }
  .floating-panel { width: 260px; left: -270px;  height: calc(100vh - 90px)!important;}
  .legend {	height: calc(40vh - 30px)!important; }
  .control-panel {height: calc(40vh - 30px)!important; }
 }
 
 
/**/
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
	.maplibregl-ctrl-top-right, .mapboxgl-ctrl-top-right {top:75px !important; }
	.header-title {font-size: 1.7rem;}
 }	


@media only screen and (min-width: 1024px) and (max-width: 1199px) {
/* Fix Map Controls Position */
.maplibregl-ctrl-top-right, .mapboxgl-ctrl-top-right {top:75px !important; }
.controls-section h2 { font-size: 14px!important;}
.legend-section h2 { font-size: 14px!important;}

.control-panel { top: 50px !important; }
.panel-toggle { top: 80px!important;   }		
.floating-panel { width: 260px; left: -270px; top:80px!important;  height: calc(90vh - 10px)!important;}
.panel-toggle.panel-open { left: 260px;	top: 80px!important;     }		

/* Responsività per statistiche */
.legend-label-dynamic {font-size: 11px; }
.category-stats {font-size: 10px;    padding: 1px 4px;   }
.total-stats {font-size: 12px;  }
.legend-item-dynamic {margin-bottom: 6px;padding: 3px 4px; }

.legend {	height: calc(39vh - 30px)!important; }
.control-panel {height: calc(38vh - 30px)!important; }

 }				

@media only screen and (min-width: 853px) and (max-width: 1023px) {
.maplibregl-ctrl-top-right, .mapboxgl-ctrl-top-right {top: 110px !important; }
.panel-toggle { top: 110px!important;   }		
.floating-panel { width: 260px; left: -270px; top: 110px!important;  height: calc(89vh - 10px)!important; }
.panel-toggle.panel-open { left: 260px;	top: 110px!important;     }			

.info-panel.visible {top: 110px!important;  }	
.info-panel { top: 100px!important; height: calc(90vh - 20px);   }	

 }	

@media only screen and (min-width: 768px) and (max-width: 852px) {
/* Fix Map Controls Position */
.maplibregl-ctrl-top-right, .mapboxgl-ctrl-top-right {top: 80px !important; }
#beta {  right: 10%;      bottom: 50px;     z-index: 10000; }

.panel-toggle { top: 80px!important;   }		
.floating-panel { width: 260px; left: -270px; top: 80px!important;  height: calc(89vh - 10px)!important; }
.panel-toggle.panel-open { left: 260px;	top: 80px!important;     }		

.info-panel { top: 80px!important; height: calc(90vh - 20px);   }		

/* Responsività per statistiche */
.legend-label-dynamic {font-size: 11px; }
.category-stats {font-size: 10px;    padding: 1px 4px;   }
.total-stats {font-size: 12px;  }
.legend-item-dynamic {margin-bottom: 6px;padding: 3px 4px; }

 /* Media Queries specifiche per il loader */
 .loader-content-wrapper { padding: 15px;}			
 .loading-static-content {margin-bottom: 20px;   } 
 .loader {  margin-bottom: 15px;        } 
	
 }				


 /* Fix per iPhone SE e dispositivi simili */
@media only screen and (min-width: 320px) and (max-width: 767px) {
			/* Fix Map Controls Position */
.maplibregl-ctrl-top-right, .mapboxgl-ctrl-top-right {top: 80px !important; }
.palermo-hub-logo {display: none;  }
.header-title {font-size: 1.09rem;}
.logo-cs { margin-left: -10px;  }
 
#beta {  right: 10%;      bottom: 50px;     z-index: 10000; }
.controls-section h2 { font-size: 14px!important;}
.legend-section h2 { font-size: 14px!important;}

.panel-toggle { top: 85px!important;    }		
.floating-panel {width: 260px; left: -270px; top: 85px!important; height: calc(87vh - 10px)!important;         }
.panel-toggle.panel-open { left: 260px;	top: 85px!important;   }	

/*.control-panel { width: calc(100vw - 450px); max-width: calc(100vw - 450px);  max-height: 40vh;   overflow-y: auto;  top: 40px; }*/
    
.info-panel { width: calc(90vw - 20px); right: -100vw;  }   
.info-panel.visible {right: 10px;  }
.info-panel { top: 80px;  height: calc(84vh - 20px); }		

.legend {	height: calc(38vh - 30px)!important; }
.control-panel {height: calc38vh - 30px)!important; }
 }
			